# Praktische Übung 2: Logistische Regresssion

## Der Titanic Datensatz


Gegeben: Verschiedene Attribute zu den Passagieren auf der Titanic. <br>
Frage: Hat der Passagier das Unglück überlebt?

Da wir den Umgang mit kategorischen Features noch nicht eingeführt haben benutzen wir nur folgende Attribute: <br>
- `Pclass`: Passenger cabin class (1 = 1st, 2 = 2nd, 3 = 3rd)
- `Age`: Age of passenger
- `SibSp`: Number of siblings/spouses aboard
- `Parch`: Number of children/parents aboard
- `Fare`: Passender Fare (brithish pound)
- `Survived`: Did passenger survive? (0 = no, 1 = yes)

## Aufgabe 1

1. Laden Sie den Datensatz aus `titanic.csv` in einen Pandas DataFrame. Die Daten befinden sich im `/data` folder auf [GitHub](https://github.com/pabair/ml-kurs-ws22/).
2. Erstellen Sie einen neuen DataFrame, der nur die folgenden Spalten enthält: "Survived", "Pclass", "Age", "Fare", "Sibsp", "Parch"
3. Entfernen Sie die leeren Felder aus dem DataFrame (d.h. Felder mit `NaN`-Werten) indem sie die Methode `dropna()` auf dem DataFrame aufrufen. <br>Zählen Sie wie viele Zeilen der DataFrame vor und nach dem Aufruf hat.

In [81]:
import pandas as pd

df_total = pd.read_csv("data/titanic.csv")
df_total.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [82]:
df = df_total[["Survived", "Pclass", "Age", "Fare", "SibSp", "Parch"]]
df.head()

   Survived  Pclass   Age     Fare  SibSp  Parch
0         0       3  22.0   7.2500      1      0
1         1       1  38.0  71.2833      1      0
2         1       3  26.0   7.9250      0      0
3         1       1  35.0  53.1000      1      0
4         0       3  35.0   8.0500      0      0

In [83]:
df.shape

(891, 6)

In [84]:
df = df.dropna()
df.shape

(714, 6)

## Aufgabe 2

1. Unterteilen Sie den aus Aufgabe 1 entstandenen DataFrame mit Hilfe der Methode `train_test_split` in Trainings- und Testdaten. 
2. Trainieren Sie eine logistische Regression auf den Trainingsdaten mit "Survived" als Label. 
3. Machen Sie mit dem trainierten Model Vorhersagen auf den Testdaten und berechnen Sie:
    - Accuracy
    - Precision
    - Recall

In [85]:
df_no_label = df.drop(["Survived"], axis=1)
df_no_label.head()

   Pclass   Age     Fare  SibSp  Parch
0       3  22.0   7.2500      1      0
1       1  38.0  71.2833      1      0
2       3  26.0   7.9250      0      0
3       1  35.0  53.1000      1      0
4       3  35.0   8.0500      0      0

In [86]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_no_label, df["Survived"],test_size=0.2,random_state=0)
print(len(x_train))
print(len(x_test))

571
143

In [87]:
from sklearn.linear_model import LogisticRegression
logisticReg = LogisticRegression(max_iter=1000)
logisticReg.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [88]:
x_test

     Pclass    Age      Fare  SibSp  Parch
423       3  28.00   14.4000      1      1
177       1  50.00   28.7125      0      0
305       1   0.92  151.5500      1      2
292       2  36.00   12.8750      0      0
889       1  26.00   30.0000      0      0
..      ...    ...       ...    ...    ...
308       2  30.00   24.0000      1      0
379       3  19.00    7.7750      0      0
123       2  32.50   13.0000      0      0
471       3  38.00    8.6625      0      0
615       2  24.00   65.0000      1      2

[143 rows x 5 columns]

In [89]:
logisticReg.predict([x_test.iloc[0]])

C:\Users\Luca Dock\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [90]:
y_test

423    0
177    0
305    1
292    0
889    1
      ..
308    0
379    0
123    1
471    0
615    1
Name: Survived, Length: 143, dtype: int64

In [91]:
predictions = logisticReg.predict(x_test)
predictions

array([0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1], dtype=int64)

In [92]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.6993006993006993

In [93]:
from sklearn.metrics import precision_score
precision_score(y_test, predictions)

0.723404255319149

In [94]:
from sklearn.metrics import recall_score
recall_score(y_test, predictions)

0.53125

## Aufgabe 3

1. Fügen Sie nun das Geschlecht als weiteres Feature hinzu und führen Sie die Schritte aus Aufgabe 1 und 2 erneut aus. Beachten Sie dabei, dass Geschlecht kein numerischer Wert ist, d.h. Sie müssen daraus ein numerisches Feature erstellen. Beispiel: Feature "isFemale" hat den Wert 1  wenn Sex == "female", sonst 0. <br>
Hinweis: Python wandelt Booleans automatisch in Nummern um. 
2. In wie weit verbessert sich die Accuracy durch das neue Feature?
3. Versuchen Sie nun auf ähnliche Weise die Spalte "Embarked" als Feature zu nutzen.

In [138]:
df = df_total[["Survived", "Pclass", "Age", "Fare", "SibSp", "Parch", "Sex"]]
df.head()

   Survived  Pclass   Age     Fare  SibSp  Parch     Sex
0         0       3  22.0   7.2500      1      0    male
1         1       1  38.0  71.2833      1      0  female
2         1       3  26.0   7.9250      0      0  female
3         1       1  35.0  53.1000      1      0  female
4         0       3  35.0   8.0500      0      0    male

In [140]:
sex = df_total["Sex"]
arr = []
for i in sex:
    if i == "male":
        arr.append("0")
    else:
        arr.append("1")
df_total['isFemale'] = arr
df_total.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,isFemale
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [155]:
df = df_total[["Survived", "Pclass", "Age", "Fare", "SibSp", "Parch", "isFemale"]]
df=df.dropna()
df.head()

   Survived  Pclass   Age     Fare  SibSp  Parch isFemale
0         0       3  22.0   7.2500      1      0        0
1         1       1  38.0  71.2833      1      0        1
2         1       3  26.0   7.9250      0      0        1
3         1       1  35.0  53.1000      1      0        1
4         0       3  35.0   8.0500      0      0        0

In [156]:
df_no_label = df.drop(["Survived"], axis=1)

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_no_label, df["Survived"],test_size=0.2,random_state=0)
df_no_label.head()

   Pclass   Age     Fare  SibSp  Parch isFemale
0       3  22.0   7.2500      1      0        0
1       1  38.0  71.2833      1      0        1
2       3  26.0   7.9250      0      0        1
3       1  35.0  53.1000      1      0        1
4       3  35.0   8.0500      0      0        0

In [157]:
from sklearn.linear_model import LogisticRegression
logisticReg = LogisticRegression(max_iter=1000)
logisticReg.fit(x_train,y_train)

LogisticRegression(max_iter=1000)

In [158]:
predictions = logisticReg.predict(x_test)
predictions

array([0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1], dtype=int64)

In [159]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, predictions)

0.8461538461538461

In [160]:
from sklearn.metrics import precision_score
precision_score(y_test, predictions)

0.8387096774193549

In [161]:
from sklearn.metrics import recall_score
recall_score(y_test, predictions)

0.8125

## Bonus

Welches sind die wichtigsten und unwichtigsten Features des Modells fur die Vorhersage?